<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EyeGuardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="eye_guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <EyeGuardian.Properties.Settings>
      <setting name="blRestOnDoubleClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iMillisecond2Rest" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="iMillisecond2Work" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="blDefTimeSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="blWorkOnDoubleClick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fSecondRested" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fSecondWorked" serializeAs="String">
        <value>0</value>
      </setting>
    </EyeGuardian.Properties.Settings>
    <eye_guardian.Properties.Settings>
      <setting name="blRestOnDoubleClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="iMillisecond2Rest" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="iMillisecond2Work" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="blDefTimeSetting" serializeAs="String">
        <value>False</value>
      </setting>
    </eye_guardian.Properties.Settings>
  </userSettings>
</configuration>